.login {
    display: flex;
    justify-content: center;
}

.login__wrapper {
    width: 350px;
    max-width: 350px;
    background-color: #fff;
    color:#000;
    font-family: 'Montserrat', sans-serif;
    padding: 30px 35px;
    text-align: center;
}

.login__title {
    font-weight: 600;
    font-size: 26px;
    margin: 0 0 40px;
}

.login__text {
    opacity: .5;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 50px;
}
.form__forgotPassword {
    text-align: right;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color:#000;
}

