.passwordReset {
    display: flex;
    justify-content: center;
}

.passwordReset__wrapper {
    width: 350px;
    max-width: 350px;
    background-color: #fff;
    color:#000;
    font-family: 'Montserrat', sans-serif;
    padding: 30px 35px;
    text-align: center;
}

.passwordReset__title {
    font-weight: 600;
    font-size: 26px;
    margin: 0 0 40px;
}

.passwordReset__form {
    margin-bottom: 50px;
}
.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    gap: 10px;
}

.form__text {
    font-size: 14px;
    font-weight: 400;
    opacity: .5;
    margin-bottom: 60px;
}