.cards__wrapper {
    width: 80%;
    margin: 0 auto;
}

.cards__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards__title {
    margin: 0 0 20px;
}

.noCards {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color:darkred;
    margin: 10px;
}
.back{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    align-self: flex-start;
    color: black;
    height: 60px;
}
.back span {
    font-weight:600 ;
    font-size: 22px;
    line-height: 26.82px ;
    cursor: pointer;
    transition: .4s;
}

.back span:hover {
    color: darkorange;
}