.mainBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 2px;
}

.error {
    color: darkred;
}